<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088123949738-5iqajdkcl4k5igs9kev2jh68obtf4osb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088123949738-5iqajdkcl4k5igs9kev2jh68obtf4osb</string>
	<key>API_KEY</key>
	<string>AIzaSyAcS1ZpdAquDW74pOUGor7ZjKtw_sSaO-o</string>
	<key>GCM_SENDER_ID</key>
	<string>1088123949738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sunanta.chu.Instragram-Clone</string>
	<key>PROJECT_ID</key>
	<string>instragram-clone-6e1dc</string>
	<key>STORAGE_BUCKET</key>
	<string>instragram-clone-6e1dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088123949738:ios:3f2473d7537398c3ad76d3</string>
</dict>
</plist>